/* Color Palette */
:root{
    --onyx: #3D3D3DFF;
    --silver: #9C9C9C;
    --white: #EBEBEB;
    --falu-red: #712121FF;
}

/* Body */
body{
    font-family: 'Helvetica', sans-serif;
}

/* Sidebar */
#sidebar{
    background-color: var(--onyx);

    .nav-container{
        .nav{
            align-items: center;
            margin-top: 0.2em;
        }
        .nav-link{
            margin: 0.1em;
            color: var(--white);
            cursor: pointer;
        }
        .nav-link:hover, .nav-link.active{
            background-color: var(--white);
            color: var(--onyx);
        }
        .nav-header{
            background: none;
            border: none;
            width: 100%;
            color: var(--white);
        }
    }
    .dropdown{
        button{
            text-decoration: none;
            background: none;
            border: none;
            color: var(--white);
        }
        .dropdown-menu{
            background-color: var(--onyx);
            .dropdown-item{
                height: 2em;
                color: var(--white);
            }
            .dropdown-item:hover{
                background-color: var(--white);
                color: var(--onyx);
            }
        
        }
    }
}


/* Main */
#main{
    background-color: var(--white);
    padding: 0;
    margin-top: 0;

    table{
        border-color: var(--onyx);

        td, th{
            width: 7vw;
            padding: 1em 1em;
            text-align: center;
            vertical-align: middle;
            background-color: var(--white);
        }
        .prod-img{
            width: fit-content;
        }
        .img-container{
            display: flex;
            align-items: center;
            
            .img-show{
                float: left;
                object-fit: cover;
                width: 5rem;
                height: 7rem;
                margin-right: 1em;
            }
            .img-url{
                float: right;
            }
        }
    }
    
    button.btn{
        margin: auto 1rem auto 0;
        border: none;
        border-radius: 1rem;
        font-family: 'Helvetica', sans-serif;
        font-size: 1.75rem;
        color: var(--onyx);
        background-color: var(--silver);
        cursor: pointer;
    }
    button.btn:hover{
        background-color: var(--onyx);
        color: var(--white);
    }
    button.btn.active{
        background-color: var(--falu-red);
        color: var(--white);
    }
}


/* OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD OLD
#sidebar {
    background-color: var(--onyx);
    font-family: 'Helvetica', sans-serif;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    width: 15em;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: calc(100vh - 20px);
        text-align: center;
    }
    
    .sidebar-heading {
        color: var(--white);
        font-size: 2.5rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }

    button.btn {
        width: 9em;
        border: var(--silver);
        background-color: var(--silver);
        padding: 0.5rem 1rem;
        margin: 0 0 1rem 0;
        color: var(--white);
    }
    button.btn:hover {
        padding: 0.5rem 1rem;
        background-color: var(--white);
        color: var(--onyx);
    }
    button.btn.active {
        border: var(--white);
        font-weight: 700;
        padding: 0.5rem 1rem;
        background-color: var(--white);
        color: var(--onyx);
    }
}


#main {
    background-color: var(--white);
    font-family: 'Helvetica', sans-serif;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    top: 0;
    right:0;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 15em;

    @media screen and (max-width: 991px) {
        padding-left: 10px;
    }

    
    .container-fluid{
        padding: 0.5rem 1rem;

        button.btn{
            
            margin: auto 3rem auto 0;
            border: none;
            border-radius: 1rem;
            font-family: 'Helvetica', sans-serif;
            font-size: 2rem;
            color: var(--onyx);
            background-color: var(--silver);
            cursor: pointer;
        }
        button.btn:hover{
            background-color: var(--onyx);
            color: var(--white);
        }
        button.btn.active{
            background-color: var(--falu-red);
            color: var(--white);
        }
    }
} */
