#nav{
    .navbar{
        padding-bottom: 0;
    }
    #secondNav.container-fluid {
        padding: 0;
        
        .editnav {
            background-color: var(--silver);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;   
            padding: 0;
    
            h1 {
                order: 1;
                padding-top: 12px;
            }
    
            .navbar-toggler {
                order: 0;
                padding-left: 0%;
                position: fixed;
                left: 3%;
            }
        }
    }
}


#item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: calc(100vh - 17.2em);
    padding-top: 14em;
    padding-bottom: 8em;
    width: 100vw;

    .rounded-table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden;
    }

    .rounded-table thead tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }

    .rounded-table thead tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .rounded-table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .rounded-table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .row_fix{
        width: 100%;
    }

    tr, td{
        text-align: center;
        vertical-align: middle;
        color: var(--onyx);
        height: fit-content;
    }

    .item {
        display: flex;
        flex-direction: row;
        width: 100%;

        img {
            object-fit: cover;
            min-width: 5rem;
            min-height: 7rem;
            width: 10vw;
            height: 14vw;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .item-info {
            text-align: left;
            margin-left: 10px;
            padding: 10px;

            h5 {
                font-size: 2rem;

                @media screen and (max-width: 991px){
                    font-size: 3vw;
                }
            }
            p {
                font-size: 1rem;

                @media screen and (max-width: 991px){
                    font-size: 1.5vw;
                }
            }
        }

        .price{
            width: fit-content;
        }
    }
    .qty{
        .quantityNum{
            font-weight: bold;
        }
        button{
            border: none;
            background: none;
            cursor: pointer;
        }
        .btn-delete{
            margin-left: 0.5rem;
        }
    }
    tr.noBorder{
        border-color: white;
    }
    .btn-container{
        text-align: left;

        .btn{
            background-color: var(--white);
            font-size: 1rem;

            @media screen and (max-width: 991px){
                font-size: 1.5vw;
            }
        }
        .btn:hover{
            background-color: var(--falu-red);
            color: var(--white);
        }
    }
}

.empty{
    text-align: center;
    color: var(--white);

    h1{
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    .btn{
        background-color: var(--white);
        font-size: 1rem;

        @media screen and (max-width: 991px){
            font-size: 1.5vw;
        }
    }
    .btn:hover{
        background-color: var(--falu-red);
        color: var(--white);
    }
}