/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: LOGO;
    src: url("../Fonts/logo.otf") format("opentype");
}

@font-face {
    font-family: BODY;
    src: url("../Fonts/body.otf") format("opentype");
}

/* Color palette */
:root{
    --onyx: #3D3D3DFF;
    --silver: #9C9C9C;
    --white: #EBEBEB;
    --falu-red: #712121FF;
}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BODY;
}
body{
    background-color: var(--onyx);
    section{
        padding-bottom: 3rem;
    }
}


/* Modal (Side Menu) */
body.modal-open #main{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: all ease 0.4s;
}
.modal {
    .modal-dialog{
        position:fixed;
        right: 0;
        margin: auto;
        width: 320px;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);  
    }

    .modal-content {
        overflow-y: auto;
        height: 100%;
        border-radius: 0;
        background-color: var(--white);

        .modal-header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            a{
                color: var(--falu-red);
                font-size: 2rem;
            }
            a:hover{
                transition: all ease 0.15s;
                text-shadow: 0.15rem 0.15rem 0.2rem rgba(0,0,0,0.1);
            }
            .login, .login:hover{
                color: var(--onyx);
                font-size: 2rem;
                text-decoration: none;
                text-shadow: none;
            }
            .display-name{
                font-size: 1rem;
            }
            .logout, .logout:hover{
                color: var(--silver);
                font-size: 1rem;
                text-decoration: none;
                text-shadow: none;                
            }
            .logout:hover{
                color: var(--onyx);
            }
        }
    
        .modal-body{
            a{
                color: var(--onyx);
            }
            a:hover{
                background-color: var(--falu-red);
                color: var(--white);
            }
        }
    }
}


/* NavBar */
#nav{
    .navbar{
        transition: all ease 0.5s;

        .container-fluid{
            margin: 0 ;
    
            a,button{
                color: var(--white);
            }
            .navbar-brand{
                opacity: 0;
                font-family: LOGO;
                font-size: 3em;
                padding: 0;
                margin: 0;
                margin-right: 1.5rem;
            }
            .navbar-element{
                font-style: normal;
                display: flex;
                align-items: center;
            }
        }
    }
    .white {
        background-color: var(--white);

        .container-fluid{
            .navbar-brand{
                opacity: 1;
            }
            a,button{
                color: var(--onyx);
            }    
        }
    }
}
#navbar-menu{
    display: block;
    position: fixed;
    z-index: 3;
    justify-content: right;
}
.logo{
    position: fixed;
    height: fit-content;
    text-align: center;
    margin: 0.5rem 0;
    width: 100vw;
    margin-bottom: 0;

    a{
        text-decoration: none;
        text-shadow: 0 0 0.5rem rgba(0,0,0,0.7);
        color: var(--white);
        font-family: LOGO;
        font-size: 12em;
    }
}
.animated{
    @media screen and (max-width: 991px){
        text-align: left;
        margin: 0.5rem 5vw;
        padding: 0 0.75rem;
    }
    a{
        transition: all ease 0.3s;
        text-shadow: none;
        color: var(--onyx);
        opacity: 1;
        font-size: 3em;
    }
}


/* Top Section / Carousel */
#top{
    padding-bottom: 0;

    .menu-toggle{
        border:none;
        outline: none;
    }
}
#top-carousel{
    height: 100vw;

    .carousel-inner{
        height: 100vw;
        background-color: var(--onyx);
    }

    .carousel-indicators{
        max-height: 100vw;
    }
}


/* Recommend Section */
#recommend{
    padding-top: 3rem;
}
.Recommend {
    padding-top: 0;
    padding-left: 20px; 
    padding-right: 20px; 
    color: var(--onyx);
    background-color: var(--onyx);

    h1 {
        text-align: left; 
        padding-left: 0;
        color: var(--white);
        font-size: 6vw;

        @media screen and (max-width: 991px){
            padding: 0;
            font-size: 6vw;
            text-align: center;
        }
    }
    
    .container-fluid {
        display: flex;
        background-color: var(--white); 
        width: 100%;
        padding-top: 0;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 7rem;
        font-size: 50px;
        margin: 0;
        
        @media screen and (max-width: 991px){
            text-align: center;
        }

        img {
            max-width: 10em;
            max-height: 10em;
            width: 50vw;
            height: 50vw;
            border-radius: 5px;
            object-fit: cover;
        }

        .text-block {
            justify-content: left;
            display: block;
            text-align: right;

            @media screen and (max-width: 991px){
                text-align: center;
                flex-direction: column;
                margin-top: 4.5rem;
                font-size: 4.5vw;
            }
            
            .item-info {
                display: flex;
                flex-direction: column;

                .tag {
                    display: flex;
                    align-self: flex-end;
                    background-color: var(--falu-red);
                    color: var(--white);
                    font-size: 2rem;
                    padding: 1rem;
                    padding-bottom: 0;
                    width: 7.8em;

                    @media screen and (max-width: 991px){
                        text-align: center;
                        flex-direction: column;
                        align-self: center;
                        font-size: 1.5rem;
                        max-width: none;
                        width: 37vw;
                    }
                }
                .price {
                    display: flex;
                    color: var(--onyx);
                    font-style: bold;
                    align-self: flex-end;
                    margin-top: 1.5rem;
                    font-size: 2rem;

                    @media screen and (max-width: 991px){
                        align-self: center;
                        font-size: 4.5vw;
                    }

                    .icons{
                        height: fit-content;
                        width: fit-content;
                        padding-left: 2rem;
                        font-style: bold;
                        align-self: flex-end;

                        a{
                            padding: 0 0.2rem;
                            color: var(--onyx);
                        }
                        a:active, a:hover{
                            color: var(--falu-red);
                        }
                        .bi-heart:hover::before, .bi-heart:active{
                            content: '\F415';
                        }
                        .bi-cart:hover::before, .bi-cart:active{
                            content: '\F23D';
                        }
                    }
                }
            }
        }
    }
}
#recommend-carousel{
    .carousel-control-prev, .carousel-control-next{
        margin-top: auto;
        margin-bottom: auto;
        width: 6.5rem;
        height: 7rem;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23712121FF' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23712121FF' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/%3E%3C/svg%3E");
    }
}


/* Top-Seller Section */
.Top-Seller {
    padding-top: 0;
    padding-left: 20px; 
    padding-right: 20px; 
    color: var(--onyx);
    background-color: var(--onyx);
    
    h1 {
        text-align: left; 
        padding-left: 0;
        color: var(--white);
        font-size: 6vw;

        @media screen and (max-width: 991px){
            padding: 0;
            font-size: 6vw;
            text-align: center;
        }
    }
    
    .container-fluid {
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--white);
        padding-top: 0;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 7rem;
        padding-bottom: 4rem;
    
        .img-container {
            display: flex;
            flex-direction: inherit;
            justify-content: space-between;
            margin-bottom: 2rem;

            .item{
                position: relative;

                @media screen and (max-width: 991px){
                    margin-bottom: 15vw;
                }

                img {
                    min-width: 15em;
                    min-height: 21em;
                    max-width: 20em;
                    max-height: 28em;
                    width: 20vw;
                    height: 28vw;
                    border-radius: 5px;
                    object-fit: cover;

                    @media screen and (max-width: 991px){
                        max-width: none;
                        max-height: none;
                        width: 50vw;
                        height: 70vw;
                    }
                }

                .icons{
                    display: flex;
                    justify-content: center;
                    font-size: 2.5rem;
                    margin-top: -1.5em;

                    @media screen and (max-width: 991px){
                        font-size: 5vw;
                        margin-top: -1.5em;
                    }

                    a{
                        padding: 0 5vw;
                        display: table-cell;
                        color: var(--white);

                        @media screen and (max-width: 991px){
                            padding: 0 15vw;

                        }

                    }
                    a:active{
                        color: var(--white);
                    }
                    .bi-heart:hover::before, .bi-heart:active{
                        content: '\F415';
                    }
                    .bi-cart:hover::before, .bi-cart:active{
                        content: '\F23D';
                    }
                } 
            }
        }

        button.btn{
            margin-top: 3vh;
            padding: 1vh 2vw 0 2vw;
            border: none;
            border-radius: 1vw;
            font-size: 3vh;
            height: 4rem;
            color: var(--onyx);
            background-color: var(--silver);
            cursor: pointer;
        }
        button.btn:hover{
            background-color: var(--falu-red);
            color: var(--white);
        }
        button.btn.active{
            background-color: var(--falu-red);
            color: var(--white);
        }
    }
}


/* Login Page*/
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center;
    background-image: url("../assets/images/LoginBG.png");
    height: 100vh;
    width: 100vw;

    .container{
        background-color: var(--white);
        border-radius: 1vw;
        height: 60vh;
        width: 60vw;
        font-size: 2rem;
        margin-top: 17vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        /* Form */
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
    
            /* Text Input */
            input{
                width: 60%;
                height: 5vh;
                margin: 1vh 0;
                margin-bottom: 2vh;
                padding: 1vh;
                border: none;
                border-radius: 0.5vw;
                font-family: 'Helvetica', sans-serif;
                font-size: 2.5vh;
                color: var(--onyx);
            }
    
            input[type=password]{
                margin-bottom: 5vh;
            }
    
            /* Submit Button */
            .btn{
                width: 25%;
                margin: 1vh 0;
                padding: 1vh;
                border: none;
                border-radius: 1vw;
                font-family: 'Helvetica', sans-serif;
                font-size: 3vh;
                color: var(--white);
                background-color: var(--falu-red);
                cursor: pointer;
            }
        }
    }
}

/*----------------------------------------------------------------*/
.Product-list{
    margin: 5px;
    color: var(--onyx);
    background-color: var(--onyx);
    
    h1 {
        text-align: left; 
        padding-left: 0;
        color: var(--white);
        font-size: 6vw;

        @media screen and (max-width: 768px){
            padding: 0;
            font-size: 6vw;
            text-align: center;
        }
    }
    
    .container-fluid {
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--white);
        padding-top: 0;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 7rem;
        padding-bottom: 4rem;
    
        .img-container {
            display: flex;
            flex-direction: inherit;
            justify-content: space-between;
            margin-bottom: 2rem;

            .item{
                position: relative;

                @media screen and (max-width: 992px){
                    margin-bottom: 15vw;
                }

                img {
                    min-width: 15em;
                    min-height: 21em;
                    max-width: 20em;
                    max-height: 28em;
                    width: 20vw;
                    height: 28vw;
                    border-radius: 5px;
                    object-fit: cover;

                    @media screen and (max-width: 992px){
                        max-width: none;
                        max-height: none;
                        width: 20vw;
                        height: 10vw;
                    }
                }

                .icons{
                    display: flex;
                    justify-content: center;
                    font-size: 2.5rem;
                    margin-top: -1.5em;

                    @media screen and (max-width: 992px){
                        font-size: 5vw;
                        margin-top: -1.5em;
                    }

                    a{
                        padding: 0 5vw;
                        display: table-cell;
                        color: var(--white);

                        @media screen and (max-width: 992px){
                            padding: 0 15vw;

                        }

                    }
                    a:active{
                        color: var(--white);
                    }
                    .bi-heart:hover::before, .bi-heart:active{
                        content: '\F415';
                    }
                    .bi-cart:hover::before, .bi-cart:active{
                        content: '\F23D';
                    }
                } 
            }
        }

        button.btn{
            margin-top: 3vh;
            padding: 1vh 2vw 0 2vw;
            border: none;
            border-radius: 1vw;
            font-size: 3vh;
            height: 4rem;
            color: var(--onyx);
            background-color: var(--silver);
            cursor: pointer;
        }
        button.btn:hover{
            background-color: var(--falu-red);
            color: var(--white);
        }
        button.btn.active{
            background-color: var(--falu-red);
            color: var(--white);
        }
    }
}