/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: LOGO;
    src: url("../assets/fonts/logo.otf") format("opentype");
}

@font-face {
    font-family: BODY;
    src: url("../assets/fonts/body.otf") format("opentype");
}


body{
    background-color: var(--onyx);
}

#secondNav {  
    background-color: var(--silver);
}

.editnav {  
    background-color: var(--silver);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   

    h1 {
        order: 1;
        padding-top: 12px;
    }

    .navbar-toggler {
        order: 0;
        padding-left: 0%;
        position: fixed;
        left: 3%;
    }
}


#nav{
    .navbar{
        transition: all ease 0.5s;
        padding: 0;

        .container-fluid{
            margin: 0;
    
            a,button{
                color: var(--white);
            }
            .navbar-brand{
                opacity: 0;
                font-family: LOGO;
                font-size: 3em;
                padding: 0;
                margin: 0;
                margin-right: 1.5rem;
            }
            .navbar-element{
                font-style: normal;
                display: flex;
                align-items: center;
            }
        }

        .nav-product{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .nav-link{
                color: var(--onyx);
                border-radius: 0;

            }
            .nav-link.active{
                color: var(--white);
                background-color: var(--falu-red);
            }
            .nav-link:hover:not(.active){
                color: var(--white);
                background-color: var(--silver);
            }
        }
    }
    .white {
        background-color: var(--white);

        .container-fluid{
            .navbar-brand{
                opacity: 1;
            }
            a,button{
                color: var(--onyx);
            }    
        }
    }
}
#navbar-menu{
    display: block;
    position: fixed;
    z-index: 3;
    justify-content: right;
}


/*----------------------------------------------------------------*/
.wishList{
    min-height: calc(100vh - 14.1em);
    color: var(--onyx);
    size: fill-container;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 15em;

    .table {
        width: 100%;
        margin-top: 20px;
    }
    
    th, td {
        text-align: center;
        vertical-align: middle;
    }
    
    img {
        width: auto;
        height: 100px; 
    }
    
    .btn.item-action {
        font-size: 1.5rem;
        color: var(--onyx);
        background: none;
    }
    
    .btn.item-action:hover {
        color: var(--falu-red);
    }
  
    
    h1 {
        text-align: left; 
        padding-left: 5px;
        color: var(--white);
        font-size: 6vw;

        @media screen and (max-width: 991px){
            padding: 0;
            font-size: 6vw;
            text-align: center;
        }
    }
    
    
    .container-fluid {
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        padding-top: 5vh;
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 4rem;

        @media screen and (max-width: 991px){
            padding: 5vw;
        }
    
        .item-container {
            display: flex;
            flex-direction: inherit;
            justify-content: space-between;

            .header{
                display: flex;
                flex: wrap;
                justify-content: space-between;
                padding: 0 8.2rem;
            }

            .item{
                display: flex;
                flex: wrap;
                align-items: center;
                position: relative;

                img {
                    min-width: 7.5em;
                    min-height: 10.5em;
                    width: 10em;
                    height: 14em;
                    border-radius: 5px;
                    object-fit:cover;

                    @media (max-width: 991px) {
                        width: 20vw;
                        height: 28vw;
                    }
                }

                .btn{
                    padding: 0;
                    padding-right: 3rem;
                    margin: 0;
                    height: auto;
                    width: auto;
                    background: none;
                    font-size: 2.5rem;
                    color: var(--onyx);
                }
                .bi-trash3:hover::before, .bi-trash3:active{
                    content: '\F78A';
                        
                }

                .item-info{
                    display: flex;
                    flex: wrap;
                    align-items: center;
                    justify-content: space-between;

                    h2{
                        padding: 0 50vw;
                        margin: 0;
                    }
                }
            }
        }

        button.btn{
            margin-top: 3vh;
            padding: 1vh 2vw 0 2vw;
            border: none;
            border-radius: 1vw;
            font-size: 3vh;
            height: 4rem;
            color: var(--onyx);
            background-color: var(--silver);
            cursor: pointer;
        }
        button.btn:hover{
            background-color: var(--falu-red);
            color: var(--white);
        }
        button.btn.active{
            background-color: var(--falu-red);
            color: var(--white);
        }
    }
}

/* Login Page*/
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center;
    background-image: url("../assets/images/LoginBG.png");
    height: 100vh;
    width: 100vw;

    .container{
        background-color: var(--white);
        border-radius: 1vw;
        height: 60vh;
        width: 60vw;
        font-size: 2rem;
        margin-top: 17vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
    
            input{
                width: 60%;
                height: 5vh;
                margin: 1vh 0;
                margin-bottom: 2vh;
                padding: 1vh;
                border: none;
                border-radius: 0.5vw;
                font-family: 'Helvetica', sans-serif;
                font-size: 2.5vh;
                color: var(--onyx);
            }
    
            input[type=password]{
                margin-bottom: 5vh;
            }
    
            .btn{
                width: 25%;
                margin: 1vh 0;
                padding: 1vh;
                border: none;
                border-radius: 1vw;
                font-family: 'Helvetica', sans-serif;
                font-size: 3vh;
                color: var(--white);
                background-color: var(--falu-red);
                cursor: pointer;
            }
        }
    }
}