<footer id="footer">
  <div class="footer-content">
    <h3>Contact us</h3>
    <p>Phone: +66-93-050-9526</p>
    <p>Email: cooc.cloth@gmail.com</p>
    <p>copy 2024; Your Website. All rights reserved.</p>
  </div>
  <div class="flex-box">
    exapmle
  </div>
</footer>