<link rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin="">
</script>

<footer id="footer">
  <div class="footer-content">
    <h3>Contact us</h3>
    <p>Phone: +66-93-050-9526</p>
    <p>Email: cooc.cloth@gmail.com</p>
    <p>copy 2024; Your Website. All rights reserved.</p>
  </div>

  <div class="flex-box" id="map"></div>
</footer>

<script>
  // create map
  var map = L.map('map').setView([18.800761219810965, 98.95029908488856], 13);

  // map tile
  L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
      maxZoom: 17,
      attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
  }).addTo(map);

  // marker icon
  var marker = L.marker([18.800761219810965, 98.95029908488856]).addTo(map);
</script>