<div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="/">COOC</a>
    <div class="navbar-element">
        <a class="btn d-none d-lg-block" href="#footer"><i class="bi bi-info-circle"> Contact Us</i></a>
    </div>
    <div class="navbar-element">
        <a class="navbar-brand d-none d-lg-block" href="/">COOC</a>
    </div>
    <div class="navbar-element">
        <a class="btn" href="/cart"><i class="bi bi-cart"></i></a>
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <button class="btn" type="submit" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="bi bi-search"></i>
        </button>
        <button type="button" class="btn menu-toggle" data-bs-toggle="modal" data-bs-target="#menu"><i class="bi bi-list"></i></button>  
    </div>
</div>