<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/backofficestyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>COOC Admin : Sales History</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- sidebar -->
            <%- include('../templates/backoffice/dashboard') %>

            <div id="main" class="col">
                <table class="table">
                    <thead class="sticky-top">
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Image</th>
                            <th scope="col">Sales Count</th>
                            <th scope="col">Total Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="" method="post">
                            <tr>
                                <td>3</td>
                                <input name="productID" type="hidden" value="3" />
                                <td>Shirt 3</td>
                                <td class="prod-img">
                                    <div class="img-container">
                                        <span><img class="img" src="https://media.discordapp.net/attachments/1216787767233609818/1216788511156605070/ae3a0637923558dde2cae05674254e76.png?ex=660ae41b&is=65f86f1b&hm=a1f8420428f5d64f4b8c52514897c66a5e8da170e78e8fc4a5204c1a66deac4c&=&format=webp&quality=lossless&width=1000&height=1332" alt="product"></span>
                                    </div>
                                </td>
                                <td>3</td>
                                <input name="productSaleCount" type="hidden" value="3" />
                                <td>$300</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <input name="productID" type="hidden" value="1" />
                                <td>Shirt 1</td>
                                <td class="prod-img">
                                    <div class="img-container">
                                        <span><img class="img" src="https://media.discordapp.net/attachments/1216787767233609818/1216788510472671304/20cce0c3014cb071508dba3a0c812ffb.png?ex=660ae41b&is=65f86f1b&hm=a840a32f9ff3831520fcdb202843153331912add8f949615c05345594440c2ba&=&format=webp&quality=lossless&width=1128&height=1128" alt="product"></span>
                                    </div>
                                </td>
                                <td>2</td>
                                <input name="productSaleCount" type="hidden" value="2" />
                                <td>$200</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <input name="productID" type="hidden" value="6" />
                                <td>Pants 1</td>
                                <td class="prod-img">
                                    <div class="img-container">
                                        <span><img class="img" src="https://media.discordapp.net/attachments/1216787767233609818/1216789034219606136/72139c1ad973f6cf0ea11f200f1b6637.png?ex=660ae498&is=65f86f98&hm=77c86834a4c8b66470489070e65b40c8bf8631d663ddcfa2f16242320b9b2be9&=&format=webp&quality=lossless&width=1128&height=1128" alt="product"></span>
                                    </div>
                                </td>
                                <td>1</td>
                                <input name="productSaleCount" type="hidden" value="1" />
                                <td>$100</td>
                            </tr>
                        </form>
                    </tbody>
                </table>

                <!-- <div id="Screen-Size-Checker">
                    <div class="d-none d-xxl-block">XXL</div>
                    <div class="d-none d-xl-block d-xxl-none">XL</div>
                    <div class="d-none d-lg-block d-xl-none">LG</div>
                    <div class="d-none d-md-block d-lg-none">MD</div>
                    <div class="d-none d-sm-block d-md-none">SM</div>
                    <div class="d-block d-sm-none">XS</div>                    
                </div> -->

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
    $('.nav-link').eq(1).addClass('active');
    </script>
</body>
</html>